html {
    scroll-behavior: smooth; /* smooth scroll when navigating between anchor links */
}

.anchor {
    display:block;
    padding-top:30px;
    margin-top:-30px;
 }

section a {
    text-decoration:underline;
}

.button {
  text-decoration: none;
  white-space: normal;
}

.level-item {
  padding-left: 10px;
  padding-right: 10px;
}

/* accordion https://www.w3schools.com/howto/howto_js_accordion.asp */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  /* background-color: #eee; */
  /* color: #444; */
  cursor: pointer;
  /* padding: 18px; */
  text-align: left;
  /* border: none; */
  /* outline: none; */
  transition: 0.4s;
  width: 100%;
  justify-content: left;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '[MOSTRAR INSTRUÇÕES]'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  /* float: right; */
  /* margin-left: 5px; */
  padding-left: 10px;
  text-align: right;
  justify-content: right;
  font-weight: bold;
}

.active:after {
  content: "[ESCONDER INSTRUÇÕES]"; /* Unicode character for "minus" sign (-) */
}


/* bouncing down arrow: https://codepad.co/snippet/pure-css-arrow-down-bouncing-animation */
.downArrow{
	text-align: center;
}
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
